<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Parking Marker</title>
</head>
<body>
    <nav id="navbar">
        <ul>
            <li> <a href="/">Estacionamento</a> </li>
           
        </ul>
        <ul>
            <li> <a href="/registerClient">Cadastrar Cliente</a> </li>
            <li> <a href="/registerAutomobile">Cadastrar Veículo</a> </li>    
        </ul>
        
    </nav>
    {{{body}}}
</body>
</html>