<form class="register" action="/registerClient" method="POST">
    <div>
        <div class="labels">
             <label for="name">Nome</label><br />
            <input type="text" name="name"/><br/>
        </div>
        <div class="labels">
            <label for="cpf">CPF</label><br />
            <input type="text" name="cpf"/><br/>
        </div>
        <div class="labels">
            <label for="telephone">Telefone</label><br />
            <input type="text" name="telephone"/><br/>
        </div>
        <div class="labels">
            <label for="address">Endereço</label><br />
            <input type="text" name="address"/><br/>
        </div>        
    </div>
    <input type="submit" value="Enviar"/>
    
</form>

<!--- 
RF2 - Cadastrar dono do veículo (Nome, Telefone, Endereço, CPF) 
-->